@model IEnumerable<SmartSupply.Domain.Models.Stock>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantiteDisponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeuilAlerte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entrepot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Entrepot.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produit.Nom)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantiteDisponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeuilAlerte)
            </td>
          
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
